export SERVICE=go.server
export ENV=dev
export ALLOW_ORIGINS=http://localhost:3000,http://localhost:3333

export POSTGRES_DATABASE=yunne
export POSTGRES_USER=user
export POSTGRES_PASSWORD=password
export POSTGRES_PORT=5432
export POSTGRES_HOST=localhost

export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=password
